# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
melhorias.txt*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.codex
*IMPLEMENTATION*
.claude
.git
.gitignore
